<%= form_with(model: [:manage, job], local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :occupational_category_name %>
    <%= form.text_field :occupational_category_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :base_salary %>
    <%= form.text_field :base_salary %>
  </div>

  <div class="field">
    <%= form.label :employment_type %>
    <%= form.text_field :employment_type %>
  </div>

  <div class="field">
    <%= form.label :work_hours %>
    <%= form.number_field :work_hours %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :education_requirements %>
    <%= form.text_field :education_requirements %>
  </div>

  <div class="field">
    <%= form.label :date_posted %>
    <%= form.date_select :date_posted %>
  </div>

  <div class="field">
    <%= form.label :valid_through %>
    <%= form.date_select :valid_through %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
